<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resume</title>
  {% include 'bootstrap.html' %}
</head>
<body>
  {% include 'nav.html' %}
  {% include 'banner.html' %}
  <div class="container">
      <h1 class="mt-4 mb-4 pt-4 pb-4">Resume</h1>
      <div class="row">
        <h1 class="mt-6 mb-4 pt-4 pb-4">Education</h1>
        <div class="col-12 col-md-6 d-flex justify-content-center">
             <img src="/static/UTA.png" style="height:320px;" class="rounded-3 mt-5">
         </div>
        <div class="col-12 col-md-6">
          <h2 class="mt-2 mb-2 w-100">University of Texas Arlington</h2>
          <p>Software Engineering | 2025 Fall</p>
          <h4>Relevant Courses</h4>
          <p>Fundamentals of Software Engineering</p>
          <p>Data Structures and Algorithms</p>
          <p>Operating Systems</p>
          <p>Object Oriented Programming</p>
        </div>
      </div>
      <div class="row">
        <h1 class="mt-6 mb-4 pt-4 pb-4">Technologies</h1>
        
      </div>
  </div>
  {% include 'footer.html' %}
</body>
</html>